<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <h3>{{appTitle}}</h3>
        <input type="text" v-model="toDoValue"/>
        <button @click="addItem()">Add</button>
        <!-- <p v-if="toDoValue!='red'">{{toDoValue}}</p>
        <p v-else>Oops</p> -->
        <ul>
            <li v-for="item in toDoList">{{item}}</li>
        </ul>

        <p>Ticker app</p>
        <button @click="addBtn()">add</button>
        <button @click="deleteBtn()">delete</button>
        <span>value = {{count}}</span>
        

    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="index.js"></script>
</body>
</html>